C#/SocialChat/bin/
C#/SocialChat/obj/
C#/SocialChatDAL/bin/
C#/SocialChatDAL/obj/
C#/SocialChat/SocialChat/bin/
C#/SocialChat/SocialChat/obj/
C#/SocialChat/SocialChatBusiness/obj/
C#/SocialChat/SocialChatDAL/bin/
C#/SocialChat/SocialChatDAL/obj/
C#/SocialChat/_ReSharper.SocialChat/
C#/SocialChat/SocialChat/publier/
C#/SocialChat/SocialChatBusiness/bin/
/Java/SocialChat/nbproject/private/
/Java/SocialChat/build/
Java/SocialChat/nbproject/
/php/nbproject/private/
php/nbproject/
Java/SocialChat/build.xml
Java/SocialChat/manifest.mf
Java/SocialChatAndroid/.idea/
