C#/SocialChat/bin/
C#/SocialChat/obj/
C#/SocialChatDAL/bin/
C#/SocialChatDAL/obj/
C#/SocialChat/SocialChat/bin/
C#/SocialChat/SocialChat/obj/
C#/SocialChat/SocialChatBusiness/obj/
C#/SocialChat/SocialChatDAL/bin/
C#/SocialChat/SocialChatDAL/obj/
C#/SocialChat/_ReSharper.SocialChat/
